.Navbar{
    background-image: url('https://img.freepik.com/premium-vector/vector-laptop-coding-pattern-web-developer-design-programming-laptop-screen-code-vector-illustration_100456-3185.jpg');
    
}
*{
    user-select: none;
}
#Image{
    background-image: url('https://img.freepik.com/premium-vector/vector-laptop-coding-pattern-web-developer-design-programming-laptop-screen-code-vector-illustration_100456-3185.jpg' );
    height: 100vh;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover ;

}





